.nav{
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* border-bottom: 0.1px solid gray; */
    background-color: var(--grey-bg-color);
    position: fixed;
    width: 100%;
    a{
      border: 1px solid var(--grey-bg-color);
      background-color: var(--grey-bg-color);
    }
}

.nav .curriculum-text{ 
  color: var(--transparent-button);
  background-color: var(--grey-bg-color);
  span{
    background-color: var(--grey-bg-color);
  }
}

.nav-options{ 
  position: relative;
  right: 2.2%;
}

.nav-options span{
    margin: 25px 15px;
    font-size: 14px;
    background-color: var(--grey-bg-color);
}

.nav-options span.active {
    text-underline-offset: 25px;
    text-decoration: underline;
    text-decoration-color: var(--transparent-button);
    text-decoration-thickness: 3px; 
  }

  .profile-section{
    background-color: var(--grey-bg-color);
  }

.profile-section img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
   
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu span {
    display: block;
    padding: 5px 20px;
    cursor: pointer;
  }
  
  .dropdown-menu span:hover {
    background-color: #f1f1f1;
    color: black;
  }

  @media screen and (max-width: 426px) {
     
    .text-wrapper{
      display: none;
    }
  .dropdown-menu span {
    padding: 4px 10px;
    cursor: pointer;
  }

}