/* .project-main-wrapper {
  border: 3px solid red;
} */

.project-content {
  /* border: 1px solid red; */
  /* margin-top: 6.5%; */
  /* padding-top: 5%; */
  display: flex;
  flex-direction: column;
}

.input-topic-wrapper {
  margin: 10px 0px;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* max-width: 500px; */
  /* display: flex;
  justify-content: space-between; */
  /* border: 1px solid red; */
  background-color: var(--grey-bg-color);
}

.project-num-wrapper {
  /* width: 47.2%; */
  /* border: 1px solid red; */
  margin: 10px 0px;
  background-color: var(--grey-bg-color);
}

.input-topic-wrapper select {
  /* width: 47.2%; */
}

.input-topic-wrapper input,
.project-num-wrapper input,
.input-topic-wrapper select {
  /* border: 1px solid red; */
  /* width: 80%; */
  outline: none;
  border: 0.5px solid grey;
  border-radius: 3px;
  padding: 6px 20px;
  background-color: var(--grey-bg-color);
}

.project-num-wrapper input {
  width: 100%;
  /* margin: 10px 0px; */
}

.hr-line {
  margin: 20px 0px;
}

.simple-text {
  /* border: 3px solid rgb(223, 63, 63); */
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-loading {
  border: 3px solid rgb(223, 63, 63);
  flex: 1;
  padding: 2% 3%;
}

.loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  /* width: 100%; */
  /* padding: 2% 5%; */
  margin-top: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: var(--background-color-blk);
  background: linear-gradient(to right, #adadadb3, #ffffffb0, #adadadb3);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-project {
  margin: 50px auto;
  /* margin-left: 30%; */
  padding: 1% 1%;
  height: 88vh;
  overflow-y: scroll;
  /* padding: 1% 5%; */
  padding-top: 3%;
  /* border-left: 0.5px solid grey; */
  width: 50%;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.result-project ::-webkit-scrollbar {
  display: none; 
}

.project-details {
  border: 3px solid rgb(223, 63, 63);
  flex: 1;
  padding: 1% 5%;
}

.form-detail {
  /* border: 3px solid rgb(222, 231, 56); */
  width: 40%;
  margin: 0px auto;
  /* flex: 1; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: flex-end; */
  /* padding: 15px; */
  /* padding-top: 6%; */
  border-radius: var(--border-radius-3);
  background-color: var(--grey-bg-color);
  label,
  input {
    background-color: var(--grey-bg-color);
  }
}

.project-date {
  font-size: 9px;
}

.history-section {
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin-top: 55px;
  h3 {
    margin-bottom: 15px;
  }
}

.history-section h3 {
  margin-top: 25px;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100px;
  max-height: 230px;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.projects-list::-webkit-scrollbar {
  display: none;
}

.project-entry {
  /* border: 0.5px solid grey; */
  border-radius: 3px;
  height: 55px;
  min-width: 135px;
  /* height: 50px; */
  /* padding: 4px 2%; */
  /* margin: 5px 10px; */
  cursor: pointer;

  min-width: 135px;
  margin: 10px 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-right: 10px; */
  padding: 8px;
  background-color: var(--grey-bg-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-entry:hover {
  border: 1px solid ghostwhite;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.image-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  background-color: var(--grey-bg-color);
}

.image-container img {
  width: var(--img-width-small-card);
  height: var(--img-height-small-card);
  border-radius: 50%;
  margin-right: 10px;
}

.topic-text h5 {
  text-decoration: none !important;
}

.project-topic {
  font-size: 13px;
  background-color: var(--grey-bg-color);
}

.radio-btn-wrapper {
  background-color: var(--grey-bg-color);
  span {
    background-color: var(--grey-bg-color);
  }
  input {
    margin: 5px 20px;
  }
}

.generate-proj-btn {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10px; */
}

.modal-content {
  /* border: 1px solid red; */
  height: 250px;
  overflow-y: scroll;
}

.project-pdf-details h5 {
  font-size: 16px;
  margin-bottom: 8px;
}

.project-pdf-details p {
  font-size: 14px;
  margin-bottom: 8px;
}

.project-pdf-details hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.generate-proj-btn button {
  width: 100%;
  background-color: var(--transparent-button);
  outline: none;
  border: none;
  border-radius: 3px;
  color: var(--white-color);
  border: 0.5px solid grey;
  padding: 3px 10px;
}

.project-link {
  color: blue;
  text-decoration: underline;
}

.proj-pdf {
  color: white;
  font-size: 12px;
  text-decoration: underline;
}

.bg-grey{
  background-color: var(--grey-bg-color);
}

@media screen and (max-width: 1226px) {
  .input-topic-wrapper {
    width: 100%;
    padding: 0% 15%;
  }
}

@media screen and (max-width: 1024px) {
  .project-content {
    flex-direction: row;
  }
  .form-detail {
    justify-content: flex-start;
    padding-top: 1%;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 50%;
  }

  .input-topic-wrapper {
    width: 100%;
    padding: 0px 5%;
  }
  .project-entry {
    width: 120px;
  }
}

@media screen and (max-width: 807px) {
  .input-topic-wrapper,
  .project-num-wrapper {
    width: 100%;
  }
  .result-project{
    width: 80%;
  }

  .project-num-wrapper input {
    max-height: 30px;
  }

  .projects-list {
    justify-content: center;
    padding: 1% 0%;
    width: 100%;
  }
}

/* @media screen and (max-width: 1226px) {
  .input-topic-wrapper, .project-num-wrapper {
    width: 100%;
    padding: 0% 15%;
  }
} */

@media screen and (max-width: 426px) {
  .input-topic-wrapper {
    justify-content: flex-end;
  }
  .result-title-pro {
    padding-top: 6%;
  }
  .project-content {
    flex-direction: column-reverse;
  }
  .history-section {
    display: none;
  }
  .input-topic-wrapper {
    width: 100%;
    padding: 0px 3%;
  }
  .result-project {
    width: 100%;
    height: 68vh;
    padding: 5% 5%;
    /* border: 1px solid red; */
    /* padding-bottom: 2%; */
  }
  .generate-proj-btn {
    margin-bottom: 15px;
  }
  .form-detail {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .generate-proj-btn button {
    padding: 7px 10px;
  }
  .hr-line {
    display: none;
  }
  .radio-btn-wrapper {
    input {
      margin: 2px 2px;
    }
  }
  .input-topic-wrapper {
    margin-bottom: 0px;
  }
  .radio-btn-wrapper {
    span {
      font-size: 13px;
    }
    label {
      font-size: 13px;
      margin-right: 15px;
    }
  }
}
