.login-page-container {
  /* border: 1px solid red; */
  max-width: 2000px;
  margin: 0px auto;
  background-color: var(--white-color);
}

.text-wrapper {
  h3 {
    background-color: var(--grey-bg-color);
    color: #e77f53;
  }
  span {
    background-color: var(--grey-bg-color);
  }
}

.header {
  /* border: 1px solid red; */
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--grey-bg-color);
  a {
    color: var(--white-color);
    text-decoration: none;
    margin: 15px 35px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

.content {
  /* border: 1px solid red; */
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.navigation {
  /* border: 1px solid red; */
  width: 150px;
  background-color: #e77f53;
  color: black;
  border-radius: 5px;
  padding: 5px 0px;
  a {
    font-size: 13px;
    
    background-color: #e77f53;
    color: black;
  }
}

.image-section img {
  width: 500px;
  height: 500px;
  border-radius: 7px;
  /* margin-top: 5%; */
  /* margin-right: 35px; */
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%); */
}

.text-section {
  /* border: 1px solid red; */
  padding: 0% 3%;
  /* margin-top: 5%; */
  span {
    font-size: 40px;
  }
  ul {
    list-style-type: none;
    margin: 35px 0px;
    border: 0px solid red;
  }
  li {
    margin: 15px 0px;
    display: flex;
    img {
      margin-right: 15px;
    }
  }
}

.buttons {
  /* border: 1px solid red; */
  /* text-align: center; */
  margin: 8% 0px;
  button {
    /* width: 20%; */
    padding: 5px 20px;
    /* margin: 0px 10px; */
    background-color: var(--transparent-button);
    outline: var(--outline-none);
    border: 0.5px solid grey;
    padding: var(--button-padding);
    color: var(--white-color);
    border-radius: var(--border-radius-3);
  }
  a{
    color: black !important;
  }
  .login-button {
    width: 100%;
    background-color: var(--transparent-button);
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #413972 0%,
    #221d36 29%,
    #da5e3e 67%,
    #e77f53 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 4rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 1250px) {
  .image-section img {
    width: 450px;
    height: 450px;
    clip-path: none;
  }
}

@media screen and (max-width: 1024px) {
  .animate-charcter {
    font-size: 40px;
  }

  .image-section img {
    width: 350px;
    height: 350px;
  }

  .navigation a {
    font-size: 13px;
  }

  .header {
    a {
      margin: 12px 15px;
      color: var(--white-color);
    }
  }
}

@media screen and (max-width: 769px) {
  .image-section img {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }
  .animate-charcter {
    font-size: 30px;
  }

  .navigation a {
    font-size: 13px;
  }

  .header {
    a {
      margin: 12px 15px;
    }
  }

  .text-section {
    padding: 1% 5%;
    span {
      font-size: 24px;
    }
  }
  .para-landing-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 426px) {
  .animate-charcter {
    font-size: 40px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .image-section img {
    width: 100%;
    height: 100%;
      margin: 0px;
      border-radius: 0px;
  }
  .navigation a {
    display: none;
  }
}


@media screen and (max-width: 321px) {
    .header img{
        width: 40px;
        height: 40px;
    }
    .animate-charcter {
        font-size: 30px;
      }
}