.outer-wrapper {
  /* border: 3px solid yellow; */
}

.single-box img {
  width: var(--img-width-small-card);
  height: var(--img-height-small-card);
  border-radius: 50px;
}

.main-container-experi {
  /* border: 3px solid red; */
  /* width: 100vw; */
  /* padding-top: 50px; */
  /* display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; */
  height: 99vh;
}

.input-feed {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0px;
  width: 99%;
  flex: 1;
  /* border-right: 0.1px solid grey; */
  /* padding-top: 2%;
  margin-top: 60px; */
  /* height: 100vh; */
}

.input-field-wrapper {
  /* border: 1px solid red; */

  /* height: 300px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  background-color: var(--grey-bg-color);
  margin: 0px auto;
  margin-top: 10px;
  border-radius: var(--border-radius-3);
}

.input-field-wrapper input {
  /* padding: 4px 15px; */
  outline: var(--outline-none);
  border: 0.5px solid gray;
  border-radius: var(--border-radius-3);

  padding: 4px 2%;
}

.file-type-wrapper {
  border: 1px solid orange;
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

.file-type {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-right: 20px;
  }
  input {
    margin-left: 5px;
  }
}

.topic-name,
.mcq-feed,
.btn-wrapper {
  /* border: 1px solid red; */
  /* width: 38%; */
  /* display: flex; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: var(--grey-bg-color);
  margin: 10px 10px;
  label {
    background-color: var(--grey-bg-color);
  }
  input {
    margin-top: 10px;
    background-color: var(--grey-bg-color);
  }
}

.file-type { 
  input {
    margin-right: 5px;
  }
}

.btn-wrapper {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.btn-wrapper button {
  /* width: 130px; */
  background-color: var(--transparent-button);
  outline: var(--outline-none);
  border: var(--border-none);
  border-radius: var(--border-radius-3);
  color: var(--white-color);
  border: 0.5px solid grey;
  padding: 3px 10px;
}

.generate-mcq-btn {
  cursor: pointer;
}
.hr-line {
  margin: 20px 0px;
  width: 100%;
}

.suggestion-box {
  text-align: center;
  margin: 50px 0px;
}

.min-box-wrapper {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  padding: 1% 5%;
  margin: 0px auto;
}

.single-box {
  border: 1px solid #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 135px;
  margin: 10px 20px;
  padding-right: 15px;
  border-radius: var(--border-radius-3);
  cursor: pointer;
  background-color: #2f2f2f;
  padding: 8px;
}

.single-box h5 {
  background-color: #2f2f2f;
}
.loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: var(--background-color);
  background: linear-gradient(to right, #adadadb3, #ffffffb0, #adadadb3);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

.display-result {
  /* border: 1px solid red; */
  /* border-left: 0.5px solid grey; */
  /* flex: 1; */
  /* margin-top: 60px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result {
  /* border: 2px solid yellow; */
  /* border-left: 0.5px solid grey; */
  /* height: 55vh; */
  /* height: 100%; */
  overflow-y: scroll;
  padding: 6% 5%;
  /* padding-bottom: 2%; */
  /* margin-bottom: 5.5%; */
}

@keyframes loader {
  0% {
    background-position: -800px;
  }
  100% {
    background-position: 800px 0px;
  }
}

@media screen and (max-width: 770px) {
  .min-box-wrapper {
    padding: 1% 0.1%;
  }

  .single-box {
    width: 100px;
  }
  .file-info {
    display: none;
  }

  .topic-name,
  .mcq-feed,
  .btn-wrapper,
  .file-type { 
    width: 75%;
  }
}

@media screen and (max-width: 426px) {
  .main-container-experi {
    flex-direction: column-reverse;
  }
  .min-box-wrapper {
    display: none;
  }

  .suggestion-box {
    display: none;
  }

  .hr-line {
    display: none;
  }

  .result {
    padding-bottom: 5%;
    height: 70vh;
  }

  .input-feed {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* border: 1px solid red; */
  }

  .topic-name,
  .mcq-feed,
  .btn-wrapper,
  .file-type {
    width: 100%;
    padding: 0% 5%;
    /* border: 1px solid red; */
  }

  .file-info {
    display: none;
  }

  .btn-wrapper .generate-mcq-btn {
    /* width: 55%; */
    padding: 7px 10px;
  }
   

  .input-field-wrapper input {
    /* width: 100%; */
    padding: 6px 10px;
  }
}
