* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color-blk);
  color: var(--font-color);
}

.Toastify__toast {
  background-color: var(--background-color-blk) !important;
  border: 0.1px solid grey !important;
}

a {
  text-decoration: none;
}

button {
  padding: 6px 15px !important;
  min-width: 100px;
  cursor: pointer;
  color: black !important;
}

#tag-link {
  color: blue !important;
  text-decoration: underline !important;
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  /* border: 1px solid red; */
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #ff9800;
  /* --background-color-blk: #211d3a; */
  --background-color-blk: black;
  --background-color: #2f2f2f;
  --grey-bg-color: #2f2f2f;
  --font-color: #d2d2d2;
  --font-size: 16px;
  --border-radius: 4px;
  --transparent-button: #e77f53;
  --button-padding: 6px 20px;
  --button-base-color: #847167;
  --outline-none: none;
  --border-none: none;
  --white-color: white;
  --border-radius-3: 3px;

  --img-width-small-card: 40px;
  --img-height-small-card: 40px;
}
